---
layout: default
---

<div class="home">
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts limit:20 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%Y년 %m월 %d일" }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>

  {% if site.posts.size == 0 %}
  <p style="color: #64748b; text-align: center; padding: 40px 0;">
    아직 포스트가 없습니다. 곧 AI 기술 다이제스트가 시작됩니다!
  </p>
  {% endif %}
</div>
